/quickchickenkeeper/recordings
*.keystore
quickchickenkeeper/exports/android/ChickenKeeper.aab
quickchickenkeeper/exports/windows/ChickenKeeper.pck
*.pck
*.aab
*.apk
*.aab
/quickchickenkeeper/exports
